<div class="col-md-8">
  <%= form_for  [:admin, weather_collect] do |f| %>
    <div class="form-group">
      <%= f.label "名稱" %>
      <%= f.text_field :name, placeholder: "名稱", class: "form-control", disabled: true%>
    </div>

    <div class="form-group">
      <%= f.submit "送出", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>