<%= render partial: 'admin/shared/navtab' %>

<div class="container">
  <div class="row col-md-offset-4">
  <h1>編輯天氣蒐集</h1>
    <br>
    <%= render "form", weather_collect: @weather_collect %>
  </div>
</div>