<h4>根據今日「即時天氣預報」推薦商品：
<% I18n.t('get_weather.en').each do |k, v| %>
  <%= link_to I18n.t("get_weather.tw.#{k}"), products_path(:city => v, which_day: "today"), class: "btn btn-sm btn-info" %>
<% end %>
</h4>

<h4>根據明日「即時天氣預報」推薦商品：
<% I18n.t('get_weather.en').each do |k, v| %>
  <%= link_to I18n.t("get_weather.tw.#{k}"), products_path(:city => v, which_day: "tomorrow"), class: "btn btn-sm btn-info" %>
<% end %>
</h4>
