<h4>根據今日「天氣預報」推薦商品：
<% I18n.t('get_weather.en').each do |k, v| %>
  <%= link_to I18n.t("get_weather.tw.#{k}"), products_path(:city => v, which_day: "today"), class: "btn btn-sm btn-info" %>
<% end %>
</h4>

<h4>根據明日「天氣預報」推薦商品：
<% I18n.t('get_weather.en').each do |k, v| %>
  <%= link_to I18n.t("get_weather.tw.#{k}"), products_path(:city => v, which_day: "tomorrow"), class: "btn btn-sm btn-info" %>
<% end %>
</h4>

<!-- 目前列出四個縣市，如需擴充只需要 I18n 內加上縣市名稱即可 -->