<%= render partial: 'admin/shared/navtab' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>姓名</th>
      <th>權限</th>
      <th>編輯</th>
      <th>狀態</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.name %>
      </td>
      <td><%= user.role %></td>
      <td>
        <%= link_to '編輯', edit_admin_user_path(user), class: "btn btn-xs btn-default" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>