<div class="col-md-6">
  <%= form_for  [:admin, @vendor] do |f| %>
    <div class="form-group">
      <%= f.text_field :name, placeholder: "名稱", class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>