<ul class="nav nav-tabs">
  <li role="presentation" class=<%= "active" if current_page? admin_root_path %>>
    <%= link_to "Products", admin_root_path %>
  </li>
  <li role="presentation" class=<%= "active" if current_page? admin_users_path %>>
    <%= link_to "Users", admin_users_path %>
  </li>
</ul>
<br>